.inventory-item {
  width: 100%;
  padding: 15px 40px;
  display: flex;
  font-family: Roboto, sans-serif;
  border-bottom: 1px solid yellowgreen;

  & div {
    margin-top: 50px;

    & p {
      padding-bottom: 10px;
      text-transform: capitalize;
      & b {
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }

  & img {
    max-width: 50%;
  }
}